In [1]:
# Author: Madhur Gupta
# Github: github.com/guptamadhur
# Project: Pandas

In [2]:
import pandas as pd

In [3]:
data= pd.read_csv('artwork_data.csv')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
#Print Top 5 rows with header
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [5]:
#Data types
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [6]:
data.acquisitionYear
#Changing Data Types with not Changing in original data frame
data.acquisitionYear.astype(float)

0        1922.0
1        1922.0
2        1922.0
3        1922.0
4        1919.0
5        1919.0
6        1919.0
7        1919.0
8        1919.0
9        1919.0
10       1919.0
11       1919.0
12       1919.0
13       1919.0
14       1919.0
15       1919.0
16       1919.0
17       1919.0
18       1919.0
19       1919.0
20       1919.0
21       1919.0
22       1919.0
23       1919.0
24       1919.0
25       1919.0
26       1919.0
27       1919.0
28       1919.0
29       1919.0
          ...
69171    2013.0
69172    2013.0
69173    2013.0
69174    2013.0
69175    2013.0
69176    2013.0
69177    2013.0
69178    2013.0
69179    2013.0
69180    2013.0
69181    2013.0
69182    2013.0
69183    2013.0
69184    2013.0
69185    2013.0
69186    2013.0
69187    2013.0
69188    2013.0
69189    2013.0
69190    2013.0
69191    2013.0
69192    2013.0
69193    2013.0
69194    2013.0
69195    2013.0
69196    2013.0
69197    2013.0
69198    2013.0
69199    2013.0
69200    2013.0
Name: acquisitionYear, Length: 69201, dtype: float64

In [7]:
#Changing Data Types with Changing in original data frame
print(data.acquisitionYear.dtype)
data.acquisitionYear=data.acquisitionYear.astype(float)
print(data.acquisitionYear.dtype)

float64
float64

In [8]:
#Another way to change data type
fulldf = pd.read_csv('artwork_data.csv',low_memory=False)
fulldf.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [9]:
#You will find lot more Object Types
fulldf.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [10]:
#Handle Bad Values
fulldf.height.astype(float)

ValueError: could not convert string to float: 'mm'

In [11]:
pd.to_numeric(fulldf.height)

ValueError: Unable to parse string "mm" at position 41339

In [12]:
pd.to_numeric(fulldf.height, errors="coerce")

0         419.0
1         213.0
2         467.0
3         394.0
4         335.0
5         338.0
6         334.0
7         340.0
8         335.0
9         340.0
10        340.0
11        150.0
12        151.0
13        153.0
14        152.0
15        152.0
16        153.0
17        153.0
18        150.0
19        152.0
20        152.0
21        152.0
22        151.0
23        151.0
24        150.0
25        151.0
26        150.0
27        151.0
28        150.0
29        150.0
          ...
69171     760.0
69172     566.0
69173     762.0
69174       NaN
69175       NaN
69176    1679.0
69177       NaN
69178       NaN
69179       NaN
69180       NaN
69181       NaN
69182       NaN
69183       NaN
69184     267.0
69185     470.0
69186     205.0
69187     317.0
69188       NaN
69189      57.0
69190       NaN
69191       NaN
69192    1155.0
69193       NaN
69194     305.0
69195     305.0
69196     305.0
69197     305.0
69198    2410.0
69199       NaN
69200     660.0
Name: height, Length: 69201, dtype: float64

In [13]:
pd.to_numeric(fulldf.height, errors="coerce")[41339]

nan